@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .map-container {
    animation: fadeIn 1s ease-in-out;
    background-color: #f0f0f0; /* 빈 배경 색상 설정 */
  }
  
  .highlight-button:hover {
    border: 2px solid #007BFF; /* 테두리 색상 변경 */
    background-color: #f0f8ff; /* 배경색 변경 */
    color: #007BFF; /* 글자 색상 변경 */
  }
  
  /* 새로 추가된 스타일 */
  .highlight-button {
    position: absolute;
    right: 40px;
    z-index: 10;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .current-location-button {
    top: 300px; /* 현재 위치 버튼의 위치 조정 */
    right: 30px; /* 왼쪽으로 이동 */
  }
  
  .traffic-button {
    top: 450px; /* 교통 정보 버튼의 위치 조정 */
    right: 30px; /* 왼쪽으로 이동 */
  }
  
  .button-icon {
    width: 80px;
    height: 80px;
  }
  
  @media (max-width: 768px) {
    .highlight-button {
      width: 25px;
      height: 25px;
      right: 20px;
    }
    
    .current-location-button {
      top: 250px;
    }
    
    .traffic-button {
      top: 320px;
    }
    
    .button-icon {
      width: 40px;
      height: 40px;
    }
  }
  
  /* 추가된 스타일 */
  .kakao-map-type-control .maptypecontrol .btn_skyview .ico_comm {
    content: "ㅋㅋ"; /* 원하는 텍스트로 변경 */
  }
  
  .maptypecontrol {
    background-color: rgba(255, 255, 255, 0.8); /* 배경색 변경 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 10px; /* 패딩 추가 */
  }
  
  .maptypecontrol .btn_skyview .ico_comm {
    color: #ff0000; /* 텍스트 색상 변경 */
    font-weight: bold; /* 텍스트 굵게 */
  }
  
  /* 줌 컨트롤러 스타일 */
  .zoomcontrol {
    background-color: rgba(0, 0, 0, 0.5); /* 배경색 변경 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 10px; /* 패딩 추가 */
  }
  
  /* 사용자 컨트롤러 스타일 */
  .custom-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .custom-controls .btn {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .custom-controls .selected_btn {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
  }