.map-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.map-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 300px; /* 사이드바의 너비를 설정합니다 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤을 추가합니다 */
}

.map {
  flex: 1 1 auto;
  position: relative;
}