.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(229, 49, 49, 0.1);
  animation: slideIn 0.5s ease-out;
}

.logo-container {
  display: inline-block;
  flex: 1;
}

.logo {
  width: 70px; /* 원하는 크기로 변경 */
  height: auto; /* 비율을 유지하면서 크기 조정 */
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex: 3;
}

.nav-list li {
  display: inline;
  margin: 0 15px;
  font-size: 20px; /* 원하는 글자 크기로 조정 */
}

.nav-list li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-list li a:hover {
  color: #ff6347; /* 호버 시 색상 변경 */
  transform: scale(1.1); /* 호버 시 크기 확대 */
}

.nav-list .dropdown {
  position: relative;
  display: inline-block;
}

.nav-list .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-list .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-list .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-list .dropdown:hover .dropdown-content {
  display: block;
}

.main-content {
  text-align: center;
  padding: 50px 20px;
}

.main-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.main-content .cta-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.main-content .cta-button:hover {
  background-color: #0056b3;
}

/* 애니메이션 추가 */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.centered-content {
  text-align: center;
}

/* 모바일 화면에서 네비게이션 메뉴 조정 */
@media (max-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .dropdown-content {
    position: static;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .menu-icon {
    display: block; /* 모바일 장치에서만 보임 */
  }

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .dropdown-content {
    position: static;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }
}

.menu-icon {
  display: none; /* 기본적으로 숨김 */
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* 모바일 장치에서만 보임 */
  }
}